$button-background: #F7F7F7;
$light-grey: #E0E1DC;
$med-grey: #717171;
$dark-grey: #3C3C3C;
$white: #fff;

button {
  border-radius: 50%;
  border: none;
  height: 250px;
  width: 250px;
  position: relative;
  background-color: $button-background;
}


.inner-circle {
  border-radius: 50%;
  border: 1px dashed $light-grey;
  height: 220px;
  width: 220px;
  position:absolute;
  top: 50%;
  left: 50%;
  margin: -110px 0 0 -110px;
}

.gavel {
  border: blue;
}
