$button-background: #F7F7F7;
$light-grey: #E0E1DC;
$med-grey: #A4A4A4;
$dark-grey: #3C3C3C;
$white: #fff;

button {
  color: none;
  background-color: transparent;
  border: none;
  letter-spacing: 0.125em;
}
.outer-circle {
  border-radius: 50%;
  border: none;
  height: 250px;
  width: 250px;
  position: relative;
  background-color: $button-background;
  color: $med-grey;
  line-height: 1;
  -webkit-transition: background-color 250ms linear;
  color: 250ms linear;
  -ms-transition: background-color 250ms linear;
  color: 250ms linear;
  -moz-ransition: background-color 250ms linear;
  color: 250ms linear;
  transition: background-color 250ms linear;
  color: 250ms linear;
  &:hover {
    background-color: $dark-grey;
    color: $white;

    & #day {
      background-color: $dark-grey;

    }
    & .fa-gavel {
      background-color: $dark-grey;
      color: #fff;
    }
    & .border-circle {
      transform: scale(1.119);
    }
  }
}

.border-circle {
  border-radius: 50%;
  border: 1px dashed $light-grey;
  height: 220px;
  width: 220px;
  position:absolute;
  top: 49.5%;
  left: 49.5%;
  margin: -110px 0 0 -110px;
  transition: transform 0.2s;
}

.inner-circle {
  height: 220px;
  width: 220px;
  position:absolute;
  top: 49.5%;
  left: 49.5%;
  margin: -110px 0 0 -110px;
}

#day {
  font-size: 2em;
  text-transform: uppercase;
  margin: -5px auto;
  padding: 0;
  border-radius: 10%;
  display: block;
  background-color: $button-background;
  width: 80px;
  -webkit-transition: background-color 250ms linear;
  color: 250ms linear;
  -ms-transition: background-color 250ms linear;
  color: 250ms linear;
  -moz-ransition: background-color 250ms linear;
  color: 250ms linear;
  transition: background-color 250ms linear;
  color: 250ms linear;
}


#date {
  font-size: 8em;
  padding: 0;
  margin: 40px 0 0 0;
}

#month {
  font-size: 2.25em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.fa-gavel {
  padding: 0;
  margin: 20px auto 0;
  display: block;
  background-color: $button-background;
  border-radius: 10%;
  width: 60px;
  -webkit-transition: background-color 250ms linear;
  color: 250ms linear;
  -ms-transition: background-color 250ms linear;
  color: 250ms linear;
  -moz-ransition: background-color 250ms linear;
  color: 250ms linear;
  transition: background-color 250ms linear;
  color: 250ms linear;
}

#time {
  padding-left:20px;
  color: $med-grey;
  font-size: 1.75em;
  letter-spacing: 0.125em;
}
