button {
  border-radius: 50%;
  border: none;
  height: 250px;
  width: 250px;
  position: relative;
  background-color: #F7F7F7;
  color: #717171;
  line-height: 1; }

.inner-circle {
  border-radius: 50%;
  border: 1px dashed #E0E1DC;
  height: 220px;
  width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -110px 0 0 -110px;
  display: flex;
  flex-direction: column; }

#day {
  font-size: 2em;
  text-transform: uppercase;
  margin: -10px auto;
  padding: 0;
  display: block;
  background-color: #F7F7F7;
  width: 50px;
  z-index: 100; }

#date {
  font-size: 8em;
  padding: 0;
  margin: 40px 0 0 0; }

#month {
  font-size: 2.25em;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

.gavel {
  height: 45px;
  padding: 0;
  margin: 30px auto 0;
  display: block;
  background-color: #F7F7F7;
  border-radius: 10%;
  width: 60px; }
